<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>chat</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>
<body>
    <script type="text/javascript">
        var sock = io();
        sock.on('connect', function () {
            sock.send('new_connect');
        });

        sock.on('message', function (msg) {
            if (msg.type === 'normal') {
                $('#messages').append('>> ' + msg.message + '<br>');
            } else {
                $('#messages').append('<li>' + msg.message + '</li>');
            }
        });

        $('#sendbutton').on('click', function () {
            sock.send($('#myMessage').val());
            $('#myMessage').val('');
        });
        
        function sendmessage(msg) {
            sock.send(msg);
        }
    </script>

    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>
    <button id="test" onclick="sendmessage('11');">Sendtest</button>

</body>
</html>